<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

    <table>
        {% for row in range(x) %}
        <tr>
            {% for column in range(y) %}
                {% if (row+column)%2==0 %}
                <td class="color1" style="background-color: {{color1}};"></td>
                {%else%}
                <td class="color2" style="background-color: {{color2}};" ></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %} */
    </table>  
</body>
</html>